.event {
  margin: 10px 0;
  padding: 10px;
  background: #242526;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.event h4 {
  flex: 2;
}

.event a {
  color: #e4e6eb;
}

.edit,
.delete {
  margin: 10px;
  display: flex;
  align-items: center;
  width: 70px;
}

.edit > svg,
.delete > svg {
  margin-right: 5px;
}

.event a.edit {
  color: #b0b3b8;
}
.event a.edit:hover {
  color: #e4e6eb;
}

.event a.delete {
  color: red;
}
